.app {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}
.app__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
.app_stats {
    display: flex;
    justify-content: space-between;
}

.app__left {
    flex:0.9;
}

.app__header > h1 {
    color: #fc3c3c;
    font-size: 2rem;
}
.app__dropdown {
    background-color: #fff;
}